@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> Hola, @User.Identity?.Name!
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" asp-controller="Matriculas" asp-action="Index">
                        <i class="bi bi-journal-check"></i> Mis Matrículas
                    </a>
                </li>
                @if (User.IsInRole("Coordinador"))
                {
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Coordinador" asp-action="Index">
                            <i class="bi bi-speedometer2"></i> Panel Coordinador
                        </a>
                    </li>
                }
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <button type="submit" class="dropdown-item text-danger">
                            <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus"></i> Registrarse
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
            </a>
        </li>
    }
</ul>